@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #444;
    outline: none;
}
a{
    text-decoration: none;
}
label{
    color: gray;
}
label.error{
    color: red;
    margin-top: 5px;
    padding-left: 1px;
    font-size: 13px;
}
label.required::after {
    padding-left: 2px;
    color: red;
    content: "\F270";
    font-family: "bootstrap-icons";
    position: absolute;
}

/* Icon */
.fa, .fas {
    color: #fff;
}
.fa.fa-star{
    color: gray;
}
.fa.fa-star.checked{
    color: orange;
}
/* Card */
.card-header{
    font-weight: 500;
}
/* Table */
table th{
    font-size: 13px;
    font-weight: 500;
}
/* Pagination */
.pagination{
    display: flex;
}
.pagination .page-item{
    margin: 0 2px;
}
.pagination .page-item .page-link{
    border-radius: 50%;
    height: 34px;
    width: 34px;
    text-align: center;
    padding: 0;
    padding-top: 7px;
    font-size: 12px;
}

/* form-control */
input.form-control:not(.form-control-sm){
    height: 36px;
    line-height: 24px;
}
/* Select2 */
.select2-container .select2-selection--single{
    height: 36px;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 36px;
}
.select2-dropdown{
    border: 1px solid #ced4da;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid #ced4da;
}
/* Navbar, Dropdown */
#profileDropdown::after {
    content: none !important;
}

/* .navbar-nav span.new{
    text-align: center;
    display: inline-block;
    background-color: #dc3545;
    color: #ffffff;
    font-size: 10px;
    height: 16px;
    width: 16px;
    border-radius: 30px;
} */

.dropdown-menu{
    padding: 5px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 600px;
}
.dropdown-item{
    padding: 6px 14px;
}
.dropdown-toggle:after{
    content: "\F282";
    font-family: "bootstrap-icons";
    font-size: 10px;
    vertical-align: 0;
    border-top: unset;
    transition: all 0.2s ease;
}
.dropdown-toggle[aria-expanded="true"]:after{
    /* content: "\F286"; */
    transform: rotate(180deg);
}
.nav-item{
    margin-left: 10px;
}
.nav-item .nav-link{
    color: #444;
}
.nav-item .nav-link i{
    font-size: 16px;
    margin-right: 5px;
}
/* Preview images */
.preview-images{
    display: none;
    margin-top: 10px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}
.preview-images .preview-item{
    text-align: center;
    width: 20%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    margin: 10px 10px;
    background-color: #3a3a3a;
    position: relative;
    border-radius: 2px;
}
.preview-images .preview-item img{
    height: 100%;
}
.preview-images .preview-item .delete-image{
    background-color: #ed0f0f;
    position: absolute;
    right: 2px;
    top: 3px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    cursor: pointer;
}
.preview-images .preview-item .delete-image:after{
    font-size: 20px;
    color: #fff;
    content: "\F62A";
    font-family: "bootstrap-icons";
}
.preview-images .preview-item .check-avatar{
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #dee2e6;
}
.preview-images .preview-item .check-avatar input{
    margin-left: -16px;
}
.preview-images .preview-item .check-avatar label{
    font-size: 13px;
    color: #444;
    padding-left: 5px;
    padding-right: 5px;
}
/* Page block */
.page-block-item{
    position: relative;
}

.page-block-item .delete-page-block{
    position: absolute;
    top: 5px;
    right: 7px;
    background-color: #ed0f0f;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    cursor: pointer;
}
.page-block-item .delete-page-block:after{
    font-size: 20px;
    color: #fff;
    content: "\F62A";
    font-family: "bootstrap-icons";
}