*:focus {
  outline: none;
}
a{
  text-decoration: none;
}
body{
  font-size: 16px;
  color: #444;
  font-family: 'Helvetica';
}
form label.error{
  color: red;
  margin-top: 4px;
  font-size: 13px;
}
.btn{
  white-space: nowrap;
}
.btn-danger{
  background-color: #ee3c29;
  border-color: #dc311f;
  font-size: 1rem;
  font-weight: bolder;
}

/* @media only screen and (max-width: 768) {
  .h1 *{
    font-size: 40px !important;
  }
} */

/* header */
.header{
  height: 90px;
  background-color: #fff;
}
#headerMenu {
  background-color: #fff;
}
#headerMenu > .navbar-nav > .nav-item > .nav-link {
  font-size: 17.6px;
  color: #1d6030;
}

#headerMenu > .navbar-nav > .nav-item > .dropdown-menu  {
  border: 2px solid #ddd;
  width: max-content;
  color: #777;
  transition: opacity .25s, visibility .25s;
  border-radius: 0;
  padding: 20px;
}

#headerMenu > .navbar-nav > .nav-item > .dropdown-menu .dropdown-item {
  border-bottom: 1px solid #ececec;
  font-size: 17.6px;
  margin: 0 10px;
  line-height: 1.3;
  padding: 10px 0;
  color: #777;
}

#headerMenu > .navbar-nav > .nav-item > .dropdown-menu > li:last-child > .dropdown-item{
  border-bottom-color: transparent;
}

#headerMenu > .navbar-nav > .nav-item > .dropdown-menu .dropdown-item:hover{
  background-color: transparent;
  color: #121212d9;
}

#headerMenu .dropdown-toggle:after{
  margin-left: -1px;
  content: "\F282";
  font-family: "bootstrap-icons";
  font-size: 11px;
  font-weight: 600;
  vertical-align: 0;
  border-top: unset;
  transition: all 0.2s ease;
}
#headerMenu .dropdown-toggle[aria-expanded="true"]:after{
  /* content: "\F286"; */
  transform: rotate(180deg);
}
#headerMenu .bi-facebook {
  display: inline-flex;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b22d37;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
#headerMenu .bi-instagram {
  display: inline-flex;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b22d37;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
#headerMenu .bi-youtube {
  display: inline-flex;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b22d37;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
#headerMenu .bi-tiktok {
  display: inline-flex;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b22d37;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
#headerMenu .icon-zalo {
  display: inline-flex;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b22d37;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight:bold;
  vertical-align: bottom;
}

.header.sticky-top{
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, .15); */
}
@media only screen and (max-width: 992px) {
  .header{
    height: 70px;
  }
  .header .navbar{
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .header .navbar-toggler{
    border: 0;
  }
  .header .navbar-toggler:focus,
  .header .navbar-toggler:active{
    outline: none;
    box-shadow: none;
  }
  .header .navbar-brand img{
    /* width: 160px; */
  }
  #headerMenu {
    border-top: 1px solid #f1f1f1;
  }
  #headerMenu > .navbar-nav > .nav-item > .nav-link{
    font-weight: bold;
    color: #000;
    font-size: 16px;
    border-bottom: 1px solid #f1f1f1;
  }
  #headerMenu > .navbar-nav > .nav-item > .dropdown-menu {
    border: 0;
    background-color: rgba(0, 0, 0, .05);
    padding: 0 10px;
    width: 100%;
    margin: 0;
  }
}

/* banner */
.page-banner .flickity-slider img {
  width: 100%;
}
.flickity-slider .carousel-cell{
  min-width: 100%;
  max-height: calc(100vh - 90px);
}
.flickity-button{
  width: 36px;
  height: 36px;
  background-color: #b22d37;
}
.flickity-button:focus{
  outline: none;
}
.flickity-button:hover{
  background-color: #b22d37 !important;
  opacity: 0.8;
}
.flickity-button-icon{
  border: none !important;
  background-color: #b22d37;
  fill: #fff !important;
  border: 2px solid;
  border-radius: 100%;
  height: auto;
  left: 50% !important;
  max-height: 100%;
  max-width: 100%;
  padding: 20%;
  position: absolute;
  top: 50% !important;
  transform: translate(-50%, -50%);
  transition: all .3s;
  width: 70% !important;
  height: 70% !important;
}

/* review */
.review-carousel img{
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

/* album sider */

.album .album-slide{
  max-width: 66%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .album .album-slide{
    max-width: 100%;
  }
}
.album .album-slide .slick-slide > div{
  margin-bottom: 0;
  padding: 0 9.8px 19.6px;
}
.album .album-slide img{
  width: 100%;
}
.album .album-nav .slick-slide > div{
  margin: 0 10px;
}
.album .album-nav .slick-slide:not(.slick-current) {
  opacity: .4;
}
.album .album-nav img{
  width: 100%;
}
.slick-next, .slick-prev{
  height: 36px;
  width: 36px;
  background-color: #b22d37;
  color: #fff;
  border-radius: 30px;
}
.slick-prev{
  left: -8px;
  z-index: 2;
}
.slick-next{
  right: -5px;
  z-index: 2;
}
.slick-next:hover, .slick-prev:hover,
.slick-next:focus, .slick-prev:focus,
.slick-next:active, .slick-prev:active{
  height: 36px;
  width: 36px;
  background-color: #b22d37;
  color: #fff;
}
.slick-prev:before, .slick-next:before{
  background-color: #b22d37;
}

/* custom */
.avatar-circle{
  padding: 10px;
}
.avatar-circle img{
  border-radius: 100%;
  background-color: #1d6030;
  aspect-ratio: 1/1;
  max-width: 250px;
  border: 20px solid #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all .3s ease;
}
.avatar-circle img:hover{
  transform: scale(1.2);
}
.circle-shadow{
  aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 15px;
}
.page-block-image{
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 992px) {
  .page-block iframe{
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .page-block iframe{
    height: 250px;
  }
}

/* post */
.post-category-title h4{
  color: #1d6030;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding: 50px 0;
}
.post-item {
  border: 0;
  border-radius: 0;
  background-color: #fff;
  transition: opacity .3s, transform .3s, background-color .3s;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, .1);
}
.post-item img{
  border-radius: 0;
  min-width: 100%;
}
.post-item .post-category:before{
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #b22d37;
}
.post-item .post-category{
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-right: 5px;
  font-size: 11px;
  font-weight: bold;
  color: #b22d37;
  text-transform: uppercase;
  line-height: 1.2;
}
.post-item .post-title{
  font-weight: bold;
  font-size: 25px;
  line-height: 1.3;
  margin: 1em 0 0;
  color: #1d6030;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.post-item .post-title-small{
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  margin: 1em 0 0;
  color: #1d6030;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.post-item .post-excerpt{
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 14px;
  color: #000000;
}
.other-post-list-title{
  font-size: 25px;
  color: #1d6030;
  font-weight: bold;
  margin-top: 30px;
}
.other-post-list{
  margin-bottom: 30px;
}
.other-post-list .post-item{
  margin-bottom: 0;
  margin-top: 30px;
}
.other-post-list .post-item .post-info{
  display: flex;
  vertical-align: middle;
  align-items: center;
  height: 100%;
}
.post-detail .post-detail-title h4{
  font-size: 27px;
  font-weight: bold;
  color: #c0182f;
  margin-bottom: 40px;
}
.post-detail .post-detail-excerpt{
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
}
.post-detail img{
  max-width: 100%;
  clear: both;
  display: block;
  margin: 0 auto;
}
.recent-posts-title h4{
  font-size: 25px;
  color: #1d6030;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*more custom features-post*/
.features-post-list .col-left .post-image{
  height: 400px;
  overflow: hidden;
}

.features-post-list .col-left img{
  width: 100%;
}

.features-post-list .col-left .post-title{
  height: 65px;
}

.features-post-list .col-left .excerpt{
  height: 65px;
}

.features-post-list .col-right .post-image{
  height: 186px;
  overflow: hidden;
}

.features-post-list .col-right img{
  width: 100%;
}

.features-post-list .col-right .post-title{
  height: 40px;
}

.features-post-list .col-right .excerpt{
  height: 65px;
}

@media only screen and (max-width: 992px) {
  .features-post-list .col-left .post-image{
    height: 240px;
    overflow: hidden;
  }

  .features-post-list .col-left img{
    width: 100%;
  }

  .features-post-list .col-left .post-title{
    height: 65px;
  }

  .features-post-list .col-left .excerpt{
    height: 65px;
  }

  .features-post-list .col-right .post-image{
    height: 107px;
    overflow: hidden;
  }

  .features-post-list .col-right img{
    width: 100%;
  }

  .features-post-list .col-right .post-title{
    height: 40px;
  }

  .features-post-list .col-right .excerpt{
    height: 65px;
  }
}

@media only screen and (max-width: 768px) {
  .features-post-list .col-right{
    margin-top: 1.5rem!important;
  }
  .features-post-list .post-image{
    height: auto !important;
  }

  .features-post-list img{
    width: 100%;
    height: auto;
  }
}



/* contact form */
.contact-form{
  background-color: #fce8c5;
}
.contact-form .contact-form-title{
  color: #c0182f;
  font-weight: bold;
  font-size: 40px;
  padding: 20px 0;
}
.contact-form input, .contact-form select{
  border-radius: 30px;
  font-size: 16px;
  height: 43px;
  line-height: 28px;
}
@media only screen and (max-width: 992px) {
  .contact-form .contact-form-title{
    font-size: 26px;
  }
}

/* footer */
.footer {
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #1d6030;
  color: #fff;
}

.footer-name{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.footer-content p{
  margin-bottom: 8.6px;
}
.footer-content ul{
  margin-left: -10px;
}
.footer-content a {
  color: #fff;
}
.footer-copyright {
  color: #fff;
  background-color: #1d6030;
  font-size: 14.4px;
  padding: 10px 0 15px;
  text-align: center;
}
.footer-icons {
  position: fixed;
  bottom: 70px;
  right: 20px;
}

.footer-icons a{
  display: block;
}

.footer-icons .hotline i{
  display: inline-flex;
  color: #fff;
  width: 48px;
  height: 48px;
  background-color: #ed2d28;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  animation: icon-ring 1s infinite ease-in-out;
}

.footer-icons .messenger i{
  display: inline-flex;
  color: #fff;
  width: 48px;
  height: 48px;
  background-color: #ed2d28;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  animation: icon-ring 1s infinite ease-in-out;
}

.footer-icons .zalo span{
  display: inline-flex;
  color: #fff;
  width: 48px;
  height: 48px;
  background-color: #ed2d28;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  animation: icon-ring 1s infinite ease-in-out;
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 27px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ed2d28;
  color: white;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 30px;
}

#scrollToTop:hover {
  background-color: #555;
}

@-webkit-keyframes icon-ring {
  0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
  }

  10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }

  20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }

  30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
  }

  40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg)
  }

  50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
  }

  100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg)
  }
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1192.5px;
  }
}