*{
    font-family: 'Helvetica';
}
.template-border{
    /* border: 1px dashed #ddd; */
}
.template-rounded-pill {
    border-radius: 50rem !important;
}

/* template container style */
.template-container{
    box-sizing: border-box;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .template-container {
      max-width: 540px;
    }
}
@media (min-width: 768px) {
    .template-container {
      max-width: 720px;
    }
}
@media (min-width: 992px) {
    .template-container {
      max-width: 960px;
    }
} 
@media (min-width: 1200px) {
    .template-container {
      max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .template-container {
      max-width: 1320px;
    }
}

/* template button */
.template-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.template-btn:hover {
    color: #212529;
    text-decoration: none;
}
.template-btn:focus, .template-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.template-btn.disabled, .template-btn:disabled {
    opacity: 0.65;
    cursor: not-allowed;
}
.template-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.template-btn:not(:disabled):not(.disabled):active, .template-btn:not(:disabled):not(.disabled).active {
    background-image: none;
}
.template-btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.template-btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.template-btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.template-btn-danger:focus, .template-btn-danger.focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.template-btn-danger:active, .template-btn-danger.active, .show > .template-btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}
.template-btn-danger:active:focus, .template-btn-danger.active:focus, .show > .template-btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.template-btn-danger.disabled, .template-btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.template-btn-success {
    color: #fff;
    background-color: #889747;
    border-color: #889747;
}
.template-btn-success:hover {
    color: #fff;
    background-color: #889747;
    border-color: #889747;
}
.template-btn-success:focus, .template-btn-success.focus {
    color: #fff;
    background-color: #889747;
    border-color: #889747;
    box-shadow: 0 0 0 0.25rem rgba(92, 220, 53, 0.5);
}
.template-btn-success:active, .template-btn-success.active, .show > .template-btn-success.dropdown-toggle {
    color: #fff;
    background-color: #889747;
    border-color: #889747;
}
.template-btn-success:active:focus, .template-btn-success.active:focus, .show > .template-btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(92, 220, 53, 0.5);
}
.template-btn-success.disabled, .template-btn-success:disabled {
    color: #fff;
    background-color: #889747;
    border-color: #889747;
}

/*template small content*/
.template-small-content{
    max-width: 66%;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .template-small-content{
        max-width: 100%;
    }
}

/* template column */
.template-row {
    display: flex;
    flex-wrap: nowrap;
    /* gap: 10px; */
    /* margin-left: -5px;
    margin-right: -5px; */
    margin-bottom: 10px;
    justify-content: center;
}
.template-column {
    flex: 1 1 auto;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    text-align: center;
}
.template-row > *:not(:first-child){
    border-left-color: transparent;
}
.template-column-1 {
    flex: 0 0 100%;
    max-width: 100%;
}
.template-column-2 {
    flex: 0 0 50%;
    max-width: 50%;
}
.template-column-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.template-column-4 {
    flex: 0 0 25%;
    max-width: 25%;
}
.template-column-2-1-s {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.template-column-2-1-e {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.template-column-1-2-s {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.template-column-1-2-e {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.template-column ul{
    margin-left: -1rem;
    display: table;
}

.green-box .template-column-2-1-e,
.green-box .template-column-1-2-s {
    padding: 0;
    display: flex;
}
.green-box .template-column-2-1-e img,
.green-box .template-column-1-2-s img{
    min-height: 100%;
}
.green-box .template-column-2-1-e *,
.green-box .template-column-1-2-s *{
    margin: 0;
}
.green-box .template-column-2-1-s,
.green-box .template-column-1-2-e {
   /* display: flex;
    justify-content: center;
    align-items: center;
    background-color: #045131 !important;*/
    display: block;
    word-wrap: unset;
    white-space: unset;
    text-align: left;
    padding: 15px;
    background-color: #045131 !important;
}
.green-box .template-column-2-1-s *,
.green-box .template-column-1-2-e *{
    color: #fff !important;
}

@media (max-width: 768px) {
    .template-row {
        flex-wrap: wrap;
    }
    .template-column-2,
    .template-column-3,
    .template-column-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .template-column-2-1-s,
    .template-column-2-1-e,
    .template-column-1-2-s,
    .template-column-1-2-e {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* template tabs bootstrap*/
.template-tabs ul.nav{
    list-style: none;
    margin: 0;
    padding: 0;

    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 70px !important;
}
.template-tabs ul.nav li{
    width: 32%;
}
.template-tabs ul.nav button{
    font-weight: bolder;
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    border: 1px solid rgb(35, 80, 53);
    border-radius: 99px;
    color: rgb(35, 80, 53);
    background-color: transparent;
    position: relative;
    margin: 0;
    overflow: visible;
    padding: 15px 0 18px;
    font-size: 1.5em;
    line-height: 1;
    text-transform: none;
    min-height: unset;
}

.template-tabs ul.nav button:hover, .template-tabs ul.nav button.active {
    background-color: rgb(35, 80, 53);
    color: #fff;
}

.template-tabs .tab-content .tab-pane{

}